* {
  margin:0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
} 


main {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap:10px;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px 40px;
  background:rgb(243, 242, 242) ;
}

h3 {
  text-align: center;
}

button {
  cursor: pointer;
}

#input {
  padding: 5px;
   border-radius: 6px;
   border: 1px solid gainsboro;
   width: 100%;  
}


#add-msg {
  margin: 0 auto;
  font-size: 14px;
  color: tomato;
  
}
#add-btn {
  margin: 10px auto;
  width: 40%;
  background: rgb(115, 178, 20);
}

#add-btn, #clear-btn {
  display: block;
  padding: 6px;
  border: none;
  border-radius: 8px;
  color: #fff;
} 

#clear-btn {
  background:tomato ;
}

ul {
 margin: 0 auto;
 width:100%;
 list-style-type: none;
}

li {
 display: flex;
 border: .5px solid grey;
 padding: 5px;
 background: rgb(255, 255, 145);
 border-radius: 4px;
 width:100%;
 margin: 10px 0;
 color: gray;
}

span {
 margin-left: auto;
}

 #edit-task, #del-task {
  width: 22px;
  height: 22px;
  border: .5px solid grey;
  border-radius: 4px;
 }
